certifi==2019.11.28
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.5.0
idna==2.9
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
more-itertools==8.2.0
portend==2.6
PySide2==5.14.1
pytz==2019.3
pyzmq==19.0.0
requests==2.23.0
shiboken2==5.14.1
six==1.14.0
tempora==3.0.0
urllib3==1.25.8
zc.lockfile==2.0
zmq==0.0.0
