[Unit]
Description=ffplayout API Server
After=network.target

[Service]
ExecStart=/usr/local/bin/api-server.py
ExecReload=/bin/kill -1 $MAINPID
Restart=always
RestartSec=2
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
